<div class="list-container">

  <div class="header clearfix">

  	<h1><span>Movies</span></h1>

    <p class="movie-search">
      <label for="search">Search</label>
      <input type="text" name="search" ng-model="query" placeholder="Search for movies" />
    </p>

    <p class="genre-filter">
      <label for="genre-filter">Filter by genre</label>
      <select ng-model="selectedGenres" ng-options="genre.name for genre in genres" data-placeholder="Filter by genre" multiple chosen></select>
    </p>

    <p class="count">Displaying {{filteredMovies.length}} / {{movies.length}}</p>

  </div>

  <ul class="movies clearfix">
    <li ng-repeat="movie in filteredMovies">
      <span
        ng-click="setFeaturedMovie(movie)"
        ng-class="{featured: isFeatured(movie)}">
        {{movie.title}}
      </span>
    </li>
  </ul>

</div>

<div class="details-container">

  <h2>{{featuredMovie.title}}</h2>

  <img ng-src="{{featuredMovie.poster}}" width="61" />

  <dl>
    <dt>Seen by Chris?</dt>
    <dd><i ng-class="{'icon-ok': featuredMovie.chris}"></i></dd>

    <dt>Seen by Sarah?</dt>
    <dd><i ng-class="{'icon-ok': featuredMovie.sarah}"></i></dd>

    <dt>On shortlist?</dt>
    <dd><i ng-class="{'icon-ok': featuredMovie.shortlist}"></i></dd>

    <dt>
      <ng-pluralize count="featuredMovie.genres.length" when="genreForms"></ng-pluralize>
    </dt>
    <dd>
      <ul>
        <li ng-repeat="genre in featuredMovie.genres">{{genre.name}}</li>
      </ul>
    </dd>

    <dt>Critics' Rating</dt>
    <dd rt-rating="{{featuredMovie.critics_rating}}"></dd>

    <dt>Runtime</dt>
    <dd>{{featuredMovie.runtime | runtime}}</dd>

    <dt>Cast</dt>
    <dd>
      <ul>
        <li ng-repeat="member in featuredMovie.cast">{{member.name}}</li>
      </ul>
    </dd>

    <dt>Year</dt>
    <dd>{{featuredMovie.year}}</dd>

    <dt>MPAA Rating</dt>
    <dd>{{featuredMovie.mpaa_rating}}</dd>
  </dl>

  <p class="rt-link">
    <a ng-href="{{featuredMovie.link}}" target="_blank">
      View on Rotten Tomatoes <i class="icon-external-link"></i>
    </a>
  </p>

</div>