<div class="list-container">

	<h1><span>Movies</span></h1>

  <ul class="movies">
    <li ng-repeat="movie in movies"
        ng-click="setFeaturedMovie(movie)"
        ng-class="{featured: movie.featured}">
        {{movie.title}}
    </li>
  </ul>

</div>

<div class="details-container">

  <h2>{{featuredMovie.title}}</h2>

  <dl>
    <dt>Seen by Chris?</dt>
    <dd>{{featuredMovie.chris}}</dd>

    <dt>Seen by Sarah?</dt>
    <dd>{{featuredMovie.sarah}}</dd>

    <dt>On shortlist?</dt>
    <dd>{{featuredMovie.shortlist}}</dd>
  </dl>

</div>