<div class="list-container">

	<h1><span>Movies</span></h1>

  <ul class="movies">
    <li ng-repeat="movie in movies"
        ng-click="setFeaturedMovie(movie)"
        ng-class="{featured: isFeatured(movie)}">
        {{movie.title}}
    </li>
  </ul>

</div>

<div class="details-container">

  <h2>{{featuredMovie.title}}</h2>

  <dl>
    <dt>
      <ng-pluralize count="featuredMovie.genres.length" when="genreForms"></ng-pluralize>
    </dt>
    <dd>
      <ul>
        <li ng-repeat="genre in featuredMovie.genres">{{genre.name}}</li>
      </ul>
    </dd>

    <dt>Seen by Chris?</dt>
    <dd><i ng-class="{'icon-ok': featuredMovie.chris}"></i></dd>

    <dt>Seen by Sarah?</dt>
    <dd><i ng-class="{'icon-ok': featuredMovie.sarah}"></i></dd>

    <dt>On shortlist?</dt>
    <dd><i ng-class="{'icon-ok': featuredMovie.shortlist}"></i></dd>
  </dl>

</div>