<div class="container">

	<h1><span>Movies</span></h1>

	<p>Search for a movie or select a genre.</p>

	<form id="movie-search" class="movie-search">
		<input id="search-input" type="text" placeholder="Search" />
		<a href="#" id="clear-search" class="close clear-search" title="Clear Search">&times;</a>
	</form>

	<div class="row">

		<div class="span4 genre-wrap genres">
			<div class="well">
				<ul id="genre-list"></ul>
			</div>
		</div>

		<div class="span4 movie-wrap">
			<div class="well">
				<ul id="movie-list"></ul>
			</div>
		</div>

		<div class="span4 info-wrap info">
			<div class="well">
				<div class="info-box"></div>
        <a href="#" class="add-movie" title="Add Movie">
          <i class="icon-plus"></i>
        </a>
			</div>
		</div>

		<div class="span4 info-wrap info-persister">
			<div class="well">
				<div class="info-box"></div>
        <a href="#" class="add-movie" title="Add Movie">
          <i class="icon-plus"></i>
        </a>
			</div>
		</div>

	</div><!-- /.row -->

</div><!-- /.container -->