<div class="header clearfix">

  <h1><span>Movies</span></h1>

  <p class="movie-search">
    <label for="search">Search</label>
    <input type="text" name="search" ng-model="search" placeholder="Search for movies" />
  </p>

  <p class="genre-filter">
    <label for="genre-filter">Filter by genre</label>
    <select ng-model="selectedGenre" data-placeholder="Filter by genre" ng-options="genre.name for genre in genres" chosen>
      <option value="">All</option>
    </select>
  </p>

  <p class="count">Displaying {{filteredMovies.length}} / {{movies.length}}</p>

</div>