<div id="lightbox" class="lightbox">
    <form id="add-movie-form" class="add-movie-form clearfix">

        <div class="control-group">
            <label for="name">Title</label>
            <input type="text" name="title" value="" />
        </div>

        <label for="chris">
            <input type="hidden" name="chris" value="0" />
            <input name="chris" type="checkbox"> Seen By Chris?
        </label>

        <label for="sarah">
            <input name="sarah" type="hidden" value="0" />
            <input name="sarah" type="checkbox"> Seen By Sarah?
        </label>

        <label for="shortlist">
            <input name="shortlist" type="hidden" value="0" />
            <input name="shortlist" type="checkbox"> Add to Shortlist?
        </label>

        <div class="form-actions">
            <button id="create-movie" class="btn btn-primary" type="submit">Add Movie</button>
            <button id="cancel-create" class="btn">Cancel</button>
        </div>

    </form>
</div>