<h2>{{= title }}</h2>

<dl>

	<dt>Seen by Chris</dt>
	<dd>
		{{ if(chris == 1) { }}
			yes
		{{ } else { }}
			no
		{{ } }}
	</dd>

	<dt>Seen by Sarah</dt>
	<dd>
		{{ if(sarah == 1) { }}
			yes
		{{ } else { }}
			no
		{{ } }}
	</dd>

	<dt>On Shortlist</dt>
	<dd>
		{{ if(shortlist == 1) { }}
			yes
		{{ } else { }}
			no
		{{ } }}
	</dd>

	<dt>Genre(s)</dt>

	<dd>
		<ul>
			{{ _.each(genres, function (genre) { }}

				<li>{{= genre.name }}</li>

			{{ }); }}
		</ul>
	</dd>

</dl>
