{{render 'genres'}}

<ul class="movies-list">
  {{#each model}}
    <li>
      {{#linkTo 'movie' this}}
        {{title}}
        <i class="icon-chevron-right"></i>
      {{/linkTo}}
    </li>
  {{/each}}
</ul>

{{outlet}}
