<dt class="rating">Rating</dt>
<dd>
	{{= critics_score }}%
	<span class="rating-meter">
		<span style="width: {{= critics_score }}px;"></span>
	</span>
</dd>

<dt>Year</dt>
<dd>
	{{= year }}
</dd>

<dt>Runtime</dt>
<dd>
	{{= runtime }}
</dd>

<dt>MPAA Rating</dt>
<dd>
	{{= mpaa_rating }}
</dd>

<dt>Cast</dt>
<dd>
	<ul>
		{{ _.each(cast, function (member) { }}

			<li>{{= member.name }}</li>

		{{ }); }}
	</ul>
</dd>
