@import "reset";
@import "compass/css3";
@import "font-awesome";

$default-border-radius: 3px;
$font-default: "Helvetica Neue", Arial, sans-serif;

$base-color: #AD5C5C;
$base-color-light: lighten($base-color, 20%);
$base-color-dark: darken($base-color, 20%);

// ---- Helpers ----

.clearfix {
  &:before,&:after { content:""; display:table; }
  &:after { clear:both; }
}

// ---- Base ----

body {
  background: #e3e3e3 image-url("background.jpg") -120px 0 repeat-y;
  font-size: 15px;
  min-width: 320px;
  padding: 0 420px 0 180px;
  position: relative;
}

.shadow-box-present {
  overflow: hidden;
}

h2 {
  color: $base-color-dark;
  font-size: 1.6em;
  margin: 20px 0;
}

p,
ul,
dl {
  line-height: 1.5;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: $base-color;
}

a:hover,
a:focus,
a:active {
  color: $base-color-dark;
}

input {
  border: solid 1px #c7c7c7;
  font-family: $font-default;
  font-size: 14px;
  padding: 6px 12px;
}

// ---- Views / Components ----

// Shadow Box

.shadow-box {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

$shadow-box-inset: 20px;

.shadow-box-container {
  background: #f8f8f8;
  overflow-y: auto;
  position: absolute;
  top: $shadow-box-inset;
  right: $shadow-box-inset;
  bottom: $shadow-box-inset;
  left: $shadow-box-inset;
}

// Icon Button

.icon-button {
  background: none;
  border: none;
  color: $base-color;
  cursor: pointer;
  float: right;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;

  i {
    float: left;
  }

  span {
    display: block;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
    margin-left: 25px;
  }

  &:hover {
    color: $base-color-dark;
  }
}

// Toggle Switch

$toggle-width: 60px;
$toggle-height: 20px;

.toggle {
  background: #545454;
  border: solid 1px #545454;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: $toggle-width;
  height: $toggle-height;
}

.toggle-on {
  border-color: $base-color;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: -40px;
  transition: .2s all ease-out;
  width: $toggle-width + $toggle-width * (2/3);
  height: $toggle-height;

  .toggle-on & {
    left: 0
  }

  div {
    float: left;
  }
}

.toggle-label {
  color: #f8f8f8;
  font-size: .9em;
  text-align: center;
  width: $toggle-width * (2/3);
  height: $toggle-height;
  line-height: $toggle-height;
}

.toggle-label-on {
  background: $base-color;
}

.toggle-label-off {
  background: #545454;
}

.toggle-switch {
  background: #f8f8f8;
  width: $toggle-width * (1/3);
  height: $toggle-height;
}

// Picker

.picker {
  font-size: .9em;

  li {
    color: #878787;
    cursor: pointer;
    position: relative;

    i:before {
      content: $check-empty;
    }

    &:hover {
      color: $base-color;

      i:before {
        content: $plus-sign-alt;
      }
    }

    &.is-picked {
      color: $base-color-dark;

      i:before {
        content: $sign-blank;
      }

      &:hover {
        color: $base-color;

        i:before {
          content: $minus-sign-alt;
        }
      }
    }
  }
}

// ---- Genres ----

.genres-list {
  color: #e3e3e3;
  margin: 0;
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;

  li {
    &:first-of-type {
      border-top: solid 1px #343434;
    }

    border-bottom: solid 1px #343434;
    padding: 5px 15px;
  }
}

// ---- Movies ----

.movies-list {
  @extend .clearfix;
  margin: 0;
  padding: 20px 19px;

  li {
    float: left;
    margin: 1px;
    width: 280px;
  }

  a {
    background: #FFF;
    display: block;
    overflow: hidden;
    padding: 5px 30px 5px 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
      background: $base-color;
      color: #FFF;
    }

    i {
      display: block;
      margin-top: -8px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 16px;
      height: 16px;
    }
  }
}

// ---- Selected Movie ----

.selected-movie {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 420px;
}

.selected-movie,
.edit-movie {
  @extend .clearfix;

  dl {
    margin-left: 120px;
  }

  dt {
    float: left;
    padding-top: 10px;
    text-align: right;
    width: 120px;
  }

  dd {
    border-bottom: solid 1px #d3d3d3;
    margin-left: 0;
    min-height: 18px;
    padding: 10px 15px 10px 135px;

    ul {
      margin: 0;
    }
  }
}

.poster {
  background: image-url("ajax-loader.gif") 50% 50% no-repeat;
  float: left;
  max-width: 120px;
  min-height: 120px;
}

.rating-valid .rating-meter {
  background: #333;
  padding: 5px;
  width: 100px;
  height: 15px;
}

.rating-bar {
  background: $base-color-light;
  transition: all 1s ease-out;
  width: 0;
  height: 15px;
}

.rating-percent {
  float: right;
}

// ---- Edit Movie ----

.edit-movie {
  @extend .clearfix;
  padding: 15px 15px 50px;

  h2 input {
    font-size: .7em;
    width: 70%;
  }

  .edit-toggles,
  .edit-genres {
    margin-left: 0;
  }

  .edit-toggles {
    float: left;
    width: 40%;
  }

  .edit-genres {
    float: right;
    margin-top: 0;
    margin-left: 10%;
    width: 50%;

    dt {
      float: none;
      margin-left: 10px;
      text-align: left;
      width: auto;
    }

    dd {
      @extend .clearfix;
      border: none;
      padding: 10px 15px;
    }

    li {
      float: left;
      width: 50%;
    }
  }

  .rt-message {
    border-top: solid 1px #d3d3d3;
    clear: both;
    padding-top: 15px;
  }

  .rt-search {
    float: left;
    width: 340px;

    form {
      @extend .clearfix;

      input {
        float: left;
        margin-right: 15px;
        width: 220px
      }

      .icon-button {
        float: left;
        margin: 3px 0 0;

        span {
          line-height: 22px;
        }
      }
    }

    .rt-searching {
      background: image-url("ajax-loader.gif") 50% 50% no-repeat;
      float: left;
      width: 50px;
      height: 30px;
    }

    $rt-search-results-width: 244px;

    ul {
      background: #e3e3e3;
      border-left: solid 1px #b3b3b3;
      border-right: solid 1px #b3b3b3;
      margin: 0;
      width: $rt-search-results-width;

      li {
        border-bottom: solid 1px #b3b3b3;
        font-size: .8em;
        padding: 3px 6px;

        button {
          background: none;
          border: none;
          color: #545454;
          margin: 0;
          padding: 0;
        }
      }
    }

    .rt-no-results {
      color: #545454;
      font-size: .9em;
      text-align: center;
      margin-top: 10px;
      width: $rt-search-results-width;
    }
  }

  .rt-info {
    float: right;
    min-width: 420px;
    width: 50%;
  }

  .poster {
    margin-top: 20px;
  }

  .actions {
    @extend .clearfix;
    background: rgba(240,240,240,0.9);
    border-top: solid 1px #d3d3d3;
    padding: 10px 0;
    position: fixed;
    right: $shadow-box-inset;
    bottom: $shadow-box-inset;
    left: $shadow-box-inset;

    .icon-button {
      margin-top: 0;
    }
  }

}
