@import "reset";
@import "compass/css3";

$default-border-radius: 3px;
$font-default: "Helvetica Neue", Arial, sans-serif;

$light-green: #DCE8D1;
$green: darken($light-green, 20%);
$dark-green: darken($green, 20%);

// ---- Helpers ----

.clearfix {
    &:before,&:after { content:""; display:table; }
    &:after { clear:both; }
    zoom:1; // For IE 6/7
}


// ---- Base ----

body {
  background: #e3e3e3;
  font-size: 16px;
  position: relative;
}

h1 {
  color: #2C3028;
  font-size: 2em;
  margin: 20px 0;
}

h2 {
  font-size: 1.8em;
  margin: 20px 0;
}

p,
ul,
dl {
  line-height: 1.5;
  margin: 10px 0;
}

a:link,
a:visited {
  color: $light-green;
}

a:hover,
a:focus,
a:active {
  color: $dark-green;
}
