@import "reset";
@import "compass/css3";

$default-border-radius: 3px;
$font-default: "Helvetica Neue", Arial, sans-serif;

$base-color: #AD5C5C;
$base-color-light: lighten($base-color, 20%);
$base-color-dark: darken($base-color, 20%);

// ---- Helpers ----

.clearfix {
  &:before,&:after { content:""; display:table; }
  &:after { clear:both; }
}

// ---- Base ----

body {
  background: #e3e3e3 image-url("background.jpg") -120px 0 repeat-y;
  font-size: 15px;
  min-width: 320px;
  padding: 0 420px 0 180px;
  position: relative;
}

h2 {
  color: $base-color-dark;
  font-size: 1.6em;
  margin: 20px 0;
}

p,
ul,
dl {
  line-height: 1.5;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: $base-color;
}

a:hover,
a:focus,
a:active {
  color: $base-color-dark;
}

input {
  border: solid 1px #c7c7c7;
  font-family: $font-default;
  padding: 6px 12px;
}

// ---- Genres ----

.genres-list {
  color: #e3e3e3;
  margin: 0;
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;

  li {
    &:first-of-type {
      border-top: solid 1px #343434;
    }

    border-bottom: solid 1px #343434;
    padding: 5px 15px;
  }
}

// ---- Movies ----

.movies-list {
  @extend .clearfix;
  margin: 0;
  padding: 20px 19px;

  li {
    float: left;
    margin: 1px;
    width: 280px;
  }

  a {
    background: #FFF;
    display: block;
    overflow: hidden;
    padding: 5px 30px 5px 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
      background: $base-color;
      color: #FFF;
    }

    i {
      display: block;
      margin-top: -8px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 16px;
      height: 16px;
    }
  }
}

// ---- Selected Movie ----

.selected-movie {
  @extend .clearfix;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 420px;

  dl {
    margin-left: 120px;
  }

  dt {
    float: left;
    padding-top: 10px;
    text-align: right;
    width: 120px;
  }

  dd {
    border-bottom: solid 1px #d3d3d3;
    margin-left: 0;
    min-height: 18px;
    padding: 10px 15px 10px 135px;

    ul {
      margin: 0;
    }
  }
}

.editing h2 input {
  font-size: .7em;
  width: 70%;
}

.poster {
  background: image-url("ajax-loader.gif") 50% 50% no-repeat;
  float: left;
  max-width: 120px;
}

.rating-valid .rating-meter {
  background: #333;
  padding: 5px;
  width: 100px;
  height: 15px;
}

.rating-bar {
  background: $base-color-light;
  transition: all 1s ease-out;
  width: 0;
  height: 15px;
}

.rating-percent {
  float: right;
}

// ---- Views / Components ----

// Icon Button

.icon-button {
  background: none;
  border: none;
  color: $base-color;
  cursor: pointer;
  float: right;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;

  &:hover {
    color: $base-color-dark;
  }

  span {
    position: absolute;
    left: -9999px;
  }
}

// Toggle Switch

$toggle-width: 60px;
$toggle-height: 20px;

.toggle {
  background: #545454;
  border: solid 1px #545454;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: $toggle-width;
  height: $toggle-height;
}

.toggle-on {
  border-color: $base-color;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: -40px;
  transition: .2s all ease-out;
  width: $toggle-width + $toggle-width * (2/3);
  height: $toggle-height;

  .toggle-on & {
    left: 0
  }

  div {
    float: left;
  }
}

.toggle-label {
  color: #f8f8f8;
  font-size: .9em;
  text-align: center;
  width: $toggle-width * (2/3);
  height: $toggle-height;
  line-height: $toggle-height;
}

.toggle-label-on {
  background: $base-color;
}

.toggle-label-off {
  background: #545454;
}

.toggle-switch {
  background: #f8f8f8;
  width: $toggle-width * (1/3);
  height: $toggle-height;
}

// Picker

.picker {
  li {
    position: relative;

    i {
      color: $base-color;
      font-size: 12px;
      position: absolute;
      top: 50%;
      margin-top: -6px;
      width: 12px;
      height: 12px;

      &:hover {
        color: $base-color-dark;
      }
    }
  }
}

.picker-picked {
  li i {
    cursor: pointer;
    right: 0;
  }
}

.picker-unpicked {
  li {
    cursor: pointer;
    padding-left: 20px;

    i {
      left: 0;
    }
  }
}
