@import "compass/css3";

$default-border-radius: 3px;
$font-default: "Helvetica Neue", Arial, sans-serif;

$light-green: #DCE8D1;
$green: darken($light-green, 20%); // #ABCC8C;


// ---- Helpers ----

.clearfix {
    &:before,&:after { content:""; display:table; }
    &:after { clear:both; }
    zoom:1; // For IE 6/7
}


// ---- Base ----

body {
    background: $light-green;
    @include box-sizing(border-box);
    @extend .clearfix;
    line-height: 1.5;
    padding: 20px 315px 20px 15px;
    position: relative;
    min-width: 440px;
}

h1 {
    color: #313E47;
    margin: 0 0 20px 5px;

    span {
        cursor: pointer;
    }
}

h2 {
    font-size: 18px;
}

p,
dl {
    margin: 10px 0;
}


// ---- General ----

.list-container {
}

.details-container {
    background: darken($light-green, 10%);
    border-left: solid 1px $green;
    @include box-sizing(border-box);
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
}


// ---- Movies ----

.loading .well {
    background-image: image-url('ajax-loader.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 29px;
}

.movie-search {
    position: relative;

    input {
        display: block;
        padding: 10px 20px;
        width: 898px;
    }
}

    a.clear-search {
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        display: block;
        outline: none;
        padding: 5px;
        position: absolute;
            top: 8px;
            right: 8px;
        text-align: center;
        width: 14px;
        height: 14px;
        line-height: 20px;
    }

    a.clear-search:hover,
    a.clear-search:focus {
        background-color: #d3d3d3;
    }

.well {
    background: #f5f5f5;
    border: solid 1px #CCC;
    padding: 5px;
}

.movies {
    list-style: none;
    margin-left: 0;

    li {
        background: #FFF;
        @include border-radius;
        border: solid 1px #e3e3e3;
        cursor: pointer;
        float: left;
        height: 32px;
        line-height: 32px;
        margin: 5px;
        overflow: hidden;
        padding: 0 10px;
        width: 200px;

        &.featured,
        &:hover,
        &:focus,
        &:active {
            background: $green;
            border-color: darken($green, 20%);
        }
    }
}

    .genre-wrap li:hover,
    .genre-wrap li:focus,
    .genre-wrap li.active {
        background: #BADA55;
    }

    .genre-wrap li.error,
    .movies li.error {
        background: #FFF !important;
        color: #999;
        cursor: default;
    }

.info-persister {
    display: none;
    float: none;
    position: fixed;
    top: 10px;
}

     .info-wrap .well {
        position: relative;
    }

       .info-box {
            margin: 10px;
        }

            .info-box h2 {
                color: #D95594;
                margin: 0;
                padding: 5px 10px;
            }

            .info-box img {
                -moz-border-radius-topright: 3px;
                -webkit-border-top-right-radius: 3px;
                border-top-right-radius: 3px;
                float: right;
                margin: 5px 0 10px 15px;
            }

            .info-box dl {
                margin: 0;
            }

            .info-box dt {
                float: left;
                padding: 7px 0 0 10px;
                width: 100px;
            }

            .info-box dd {
                margin-left: 0;
                padding: 7px 5px 7px 115px;
            }

            .info-box dd:nth-child(4n) {
                background: #F8DCEA;
            }

            .info-box dd:last-child {
                -webkit-border-radius: 0 0 3px 3px;
                -moz-border-radius: 0 0 3px 3px;
                border-radius: 0 0 3px 3px;
            }

                .info-box [class^="icon-"],
                .info-box [class*=" icon-"] {
                    opacity: 0.7;
                }

                .info-box ul {
                    list-style: none;
                    margin: 0;
                }

                .info-box .rating {
                    padding-left: 30px;
                    position: relative;
                    width: 70px;
                }

                    .rating:before {
                        background: image-url('icon-sprite.png') -48px -164px no-repeat;
                        content: '';
                        display: block;
                        position: absolute;
                            left: 4px;
                            top: 3px;
                        width: 24px;
                        height: 24px;
                    }

                .rating-meter,
                .rating-meter span {
                    display: block;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                }

                .rating-meter {
                    background: #000;
                    float: right;
                    margin-top: 2px;
                    width: 102px;
                    height: 18px;
                }

                    .rating-meter span {
                        background: #D95594;
                        float: left;
                        margin: 1px;
                        height: 16px;
                    }

            a.tab {
                background: #e3e3e3;
                -moz-border-radius: 0 3px 3px 0;
                -webkit-border-radius: 0 3px 3px 0;
                border-radius: 0 3px 3px 0;
                border: solid 1px #c7c7c7;
                display: block;
                padding: 3px;
                position: absolute;
                    right: -22px;
                text-decoration: none;
            }

            .add-movie {
                top: 2px;
            }

            .edit-movie {
                top: 31px;
            }

            a.tab:hover,
            a.tab:focus {
                background: #FFF;
            }

                .tab i {
                    opacity: 0.5
                }

                .tab:hover i,
                .tab:focus i {
                    opacity: 0.8;
                }

.lightbox {
    background: rgba(0,0,0,0.7);
    position: absolute;
        left: 0;
        top: 0;
    width: 100%;
    height: 100%;
}

    .edit-movie-form {
        background: #FFF;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: solid 15px #e3e3e3;
        margin-left: -185px;
        padding: 20px;
        position: absolute;
            left: 50%;
            top: 150px;
        width: 300px;
    }

        .edit-movie-form h2 {
            background: #f8f8f8;
            border-bottom: solid 1px #c7c7c7;
            margin: -20px 0 15px -20px;
            padding: 10px 20px;
            width: 300px;
        }

        a.form-close {
            background: #333;
            background: -moz-linear-gradient(top, #333, #111);
            background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
            -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            border: solid 1px #333;
            display: block;
            padding: 5px;
            position: absolute;
                right: -25px;
                top: -25px;
        }

        a.form-close:hover,
        a.form-close:focus {
            background: #555;
            background: -moz-linear-gradient(top, #555, #333);
            background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
        }

            .form-close i {
                display: block;
            }

        .genres-select {
            width: 300px;
        }